@font-face {
  font-family: Proxima-Nova;
  src: url(/fonts/ProximaNova-Regular.otf);
}
@font-face {
  font-family: Proxima-Nova-Bold;
  src: url(/fonts/Proxima_Nova_Bold.otf);
}
@font-face {
  font-family: Proxima-Nova-Black;
  src: url(/fonts/Proxima_Nova_Black.otf);
}
.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}
@media (min-width: 1367px) {
  .gallery {
    column-gap: 1.5vw;
    row-gap: 1.5vw;
  }
}
@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 7.3vw 0;
  row-gap: 2.9vw;
}
@media (max-width: 768px) {
  .item {
    padding: 100px 0;
    row-gap: 40px;
  }
}
.item__abstract {
  padding-bottom: 1.8vw;
  box-shadow: 0 0.2vw #ddd;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 3.6vw;
}
@media (max-width: 1200px) {
  .item__abstract {
    flex-wrap: wrap;
  }
}
.item__abstract__pic-info__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 3.6vw;
}
@media (max-width: 768px) {
  .item__abstract__pic-info__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.item__abstract__pic {
  width: 25.6vw;
  box-shadow: 0.21vw 0.21vw 0.35vw rgba(0, 0, 0, 0.16);
}
@media (max-width: 768px) {
  .item__abstract__pic {
    max-width: 350px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
    order: 2;
  }
}
.item__abstract__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 150%;
  padding: 2.5vw 0;
  row-gap: 2vw;
}
@media (max-width: 768px) {
  .item__abstract__info {
    width: 100%;
    order: 1;
  }
}
.item__abstract__title {
  font-family: Proxima-Nova-Black;
  font-size: 1.75vw;
}
@media (max-width: 768px) {
  .item__abstract__title {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }
}
.item__abstract__text {
  line-height: 1.75vw;
}
@media (max-width: 768px) {
  .item__abstract__text {
    display: none;
  }
}
.item__abstract__details {
  color: #000;
  text-decoration: none;
  border-bottom: #c80000 solid 0.1vw;
}
.item__abstract__details:hover {
  color: #c80000;
}
.item__abstract__price-order {
  width: 22vw;
  padding: 1vw 2.9vw;
  margin-top: 8vw;
  font-family: Proxima-Nova-Black;
  font-size: 1.75vw;
  border: solid #ddd 0.07vw;
}
@media (max-width: 1200px) {
  .item__abstract__price-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
  }
}
@media (max-width: 768px) {
  .item__abstract__price-order {
    font-size: 24px;
  }
}
.item__abstract__price {
  margin-bottom: 0.73vw;
}
@media (max-width: 768px) {
  .item__abstract__price {
    margin-bottom: 15px;
  }
}

.item__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5.85vw;
}
@media (max-width: 768px) {
  .item__description {
    padding: 50px 0;
  }
}
.item__description__title {
  font-size: 1.4vw;
  border-bottom: #c80000 solid 0.2vw;
  padding-bottom: 0.7vw;
}
@media (max-width: 768px) {
  .item__description__title {
    font-size: 16px;
    border-bottom: #c80000 solid 2px;
    padding-bottom: 10px;
  }
}
.item__description__text {
  padding: 3vw 0;
  font-size: 1vw;
  line-height: 1.75vw;
  border-top: #ddd solid 0.07vw;
}
@media (max-width: 768px) {
  .item__description__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.order__button {
  width: 100%;
  height: 40px;
  background-color: #7bbf1c;
  border: none;
  color: #FFF;
  font-size: 0.8rem;
  cursor: pointer;
}
@media (min-width: 1367px) {
  .order__button {
    height: 2.9vw;
  }
}

.item__history {
  width: 100%;
  font-size: 1vw;
  border: #ddd 0.07vw solid;
}
@media (max-width: 768px) {
  .item__history {
    font-size: 13px;
    border: #ddd 1px solid;
  }
}
.item__history__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: #ddd 0.07vw solid;
}
@media (max-width: 768px) {
  .item__history__header {
    border-bottom: #ddd 1px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
}
.item__history__header__cell {
  padding: 1vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 0.5vw;
  border-left: #ddd 0.07vw solid;
}
@media (max-width: 768px) {
  .item__history__header__cell {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: #ddd 1px solid;
    border-left: none;
  }
}
.item__history__header__cell:first-child {
  border: none;
}
.item__history__header__cell:nth-child(2) {
  border: none;
}
.item__history__header__label {
  font-family: Proxima-Nova-Bold;
  color: #666;
}
.item__history__show-hide-btn {
  width: 1.5vw;
  margin: auto;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .item__history__show-hide-btn {
    display: none;
  }
}
.item__history__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1vw;
  column-gap: 1vw;
}
@media (max-width: 768px) {
  .item__history__content {
    padding: 15px;
    column-gap: 15px;
  }
}
.item__history__pic {
  width: 6.2vw;
}
@media (max-width: 768px) {
  .item__history__pic {
    width: 85px;
  }
}
.item__history__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 0.7vw;
}
@media (max-width: 768px) {
  .item__history__details {
    row-gap: 10px;
  }
}
.item__history__title {
  font-family: Proxima-Nova-Bold;
  letter-spacing: 0.02vw;
}
.item__history__rebuy__wrapper {
  width: 7.7vw;
  height: 1.8vw;
  background-color: #7bbf1c;
  border: none;
  color: #FFF;
  font-size: 0.8rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .item__history__rebuy__wrapper {
    width: 105px;
    height: 25px;
  }
}

@media (max-width: 768px) {
  .show-hide {
    display: none;
  }
}

.reduce__history__item {
  display: none;
}

.main__content, .cart__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 10px;
  row-gap: 15px;
}
@media (min-width: 769px) {
  .main__content, .cart__wrapper {
    padding: 100px;
  }
}
@media (min-width: 1367px) {
  .main__content, .cart__wrapper {
    padding: 7vw;
    row-gap: 1vw;
  }
}

.category__name {
  align-self: flex-start;
  font-size: 24px;
  border-bottom: red solid;
}
@media (min-width: 769px) {
  .category__name {
    font-size: 1.8vw;
    border-bottom: #c80000 solid 0.15vw;
  }
}

.cart__wrapper {
  row-gap: 40px;
}
@media (min-width: 769px) {
  .cart__wrapper {
    padding: 100px 0;
  }
}
@media (max-width: 1200px) {
  .cart__wrapper {
    padding: 100px;
  }
}
@media (max-width: 768px) {
  .cart__wrapper {
    padding: 100px 25px;
  }
}
@media (min-width: 1367px) {
  .cart__wrapper {
    padding: 7.3vw;
    row-gap: 3vw;
  }
}

.cart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}
@media (max-width: 768px) {
  .cart {
    flex-direction: column;
  }
}
@media (min-width: 1367px) {
  .cart {
    column-gap: 1.46vw;
  }
}
.cart__title {
  font-family: Proxima-Nova-Black;
  font-size: 2.2vw;
}
@media (max-width: 1200px) {
  .cart__title {
    font-size: 30px;
  }
}
.cart__summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 785px;
  border: #ddd solid 1px;
}
@media (max-width: 1200px) {
  .cart__summary {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cart__summary {
    order: 2;
  }
}
@media (min-width: 1367px) {
  .cart__summary {
    width: 57.4vw;
    border: #ddd solid 0.07vw;
  }
}
.cart__summary__title {
  font-family: Proxima-Nova-Bold;
  font-size: 1.6vw;
  border: none;
  border-bottom: #ddd solid 1px;
}
@media (max-width: 768px) {
  .cart__summary__title {
    font-size: 18px;
  }
}
@media (min-width: 1367px) {
  .cart__summary__title {
    padding: 1.45vw;
    border-bottom: #ddd solid 0.07vw;
  }
}
.cart__summary__title, .cart__summary__items {
  padding: 20px;
}
@media (min-width: 1367px) {
  .cart__summary__title, .cart__summary__items {
    padding: 1.45vw;
    border-bottom: #ddd solid 0.07vw;
  }
}
.cart__summary__title, .cart__summary .cart__checkout {
  padding: 20px;
}
@media (min-width: 1367px) {
  .cart__summary__title, .cart__summary .cart__checkout {
    padding: 1.46vw;
  }
}
.cart__checkout {
  border: #ddd solid 1px;
  align-self: flex-start;
  padding: 20px;
  row-gap: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}
@media (max-width: 1200px) {
  .cart__checkout {
    width: 290px;
  }
}
@media (max-width: 768px) {
  .cart__checkout {
    width: 100%;
    padding: 10px;
    row-gap: 10px;
    order: 1;
  }
}
@media (min-width: 1367px) {
  .cart__checkout {
    width: 25.6vw;
    padding: 1.46vw;
    row-gap: 1.46vw;
    border: #ddd solid 0.07vw;
  }
}
.cart__subtotal__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Proxima-Nova-Bold;
  font-size: 18px;
}
@media (min-width: 1367px) {
  .cart__subtotal__wrapper {
    font-size: 1.3vw;
  }
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: auto;
  padding: 50px;
  row-gap: 40px;
  font-size: 13px;
}
@media (max-width: 768px) {
  .login {
    width: 100%;
    padding: 15px;
    row-gap: 30px;
  }
}
@media (min-width: 1367px) {
  .login {
    width: 36.6vw;
    padding: 3.6vw;
    row-gap: 2.9vw;
    font-size: 0.95vw;
  }
}
.login__logo {
  width: 190px;
}
@media (min-width: 1367px) {
  .login__logo {
    width: 13.9vw;
  }
}
.login__label {
  font-family: Proxima-Nova-Bold;
}
.login__button {
  width: 100%;
  height: 40px;
  border: green solid;
}
@media (min-width: 1367px) {
  .login__button {
    height: 2.9vw;
  }
}

.profile__header {
  padding-top: 3.6vw;
  color: #FFF;
}
@media (max-width: 768px) {
  .profile__header {
    padding-top: 50px;
  }
}
.profile__header__cover {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 33vw;
  padding: 2.2vw 1.5vw;
  background-image: url("/profile-cover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.profile__header__name {
  font-family: Proxima-Nova-Black;
  text-transform: uppercase;
  letter-spacing: 0.15vw;
  font-size: 3vw;
  margin-bottom: 0.75vw;
}
.profile__header__email {
  font-family: Proxima-Nova-Bold;
  font-size: 1.8vw;
}
.profile__header__pic {
  width: 100%;
  border-radius: 50%;
}
.profile__header__pic__wrapper {
  width: 9.5vw;
  height: 9.5vw;
  padding: 0.5vw;
  border: #FFF solid 0.36vw;
  border-radius: 50%;
}

.profile__welcome-tab {
  background-color: #081420;
  font-size: 1.75vw;
  padding: 0.8vw 7.3vw;
}
@media (max-width: 768px) {
  .profile__welcome-tab {
    font-size: 20px;
  }
}

.profile__main {
  padding: 5vw 7.3vw;
}
.profile__main__history {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2vw 0;
  row-gap: 1.8vw;
  border-top: #ddd 0.07vw solid;
}
@media (max-width: 768px) {
  .profile__main__history {
    row-gap: 20px;
  }
}
.profile__main__title {
  font-family: Proxima-Nova-Black;
  font-size: 2.6vw;
  color: #c80000;
  margin-bottom: 1vw;
}
@media (max-width: 768px) {
  .profile__main__title {
    font-size: 20px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 1.17vw;
  scroll-behavior: smooth !important;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: Proxima-Nova;
}

address {
  font-style: normal;
}

.link {
  color: #FFF;
}
.link:visited {
  color: #FFF;
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 450px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 769px) {
  .container {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}

.header {
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000;
  color: #FFF;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 769px) {
  .header {
    padding-top: 0.38vw;
    padding-bottom: 0.38vw;
  }
}

.header__menu__list, .show__menu {
  display: flex;
  column-gap: 3.8vw;
  font-weight: bold;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .header__menu__list, .show__menu {
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
    font-weight: normal;
    background-color: #000;
  }
}

@media (max-width: 768px) {
  .show__menu {
    top: 48px;
  }
}

.header__menu__item {
  line-height: 0;
  text-decoration: none;
  padding: 1vw 0;
}
@media (max-width: 768px) {
  .header__menu__item {
    padding: 20px 0;
    border-top: #2e2e2e solid 1px;
  }
}

.menu__login__link {
  text-transform: none;
}
@media (min-width: 769px) {
  .menu__login__link {
    display: none;
  }
}

.mobile__menu__btn {
  font-size: 18px;
  display: block;
  width: 100%;
  cursor: pointer;
}
@media (min-width: 769px) {
  .mobile__menu__btn {
    display: none;
  }
}

.logo {
  width: 150px;
  height: 30px;
}
@media (min-width: 769px) {
  .logo {
    width: 13vw;
    height: 2.9vw;
  }
}

.user__panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  column-gap: 1.9vw;
}
@media (max-width: 768px) {
  .user__panel {
    width: 100%;
  }
}

.user__icon, .cart__icon {
  width: 25px;
  color: inherit;
}
@media (min-width: 769px) {
  .user__icon, .cart__icon {
    width: 1.88vw;
    padding: 0.2vw 0;
  }
}

@media (min-width: 769px) {
  .header__menu__item, .user__icon, .cart__icon {
    transition: 0.3s;
    border-bottom: transparent solid 0.15vw;
  }
  .header__menu__item:hover, .user__icon:hover, .cart__icon:hover {
    border-bottom: #c80000 solid 0.15vw;
  }
  .header__menu__item:visited, .user__icon:visited, .cart__icon:visited {
    color: inherit;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.8vw 100px;
  color: #666;
  font-weight: 900;
  background-color: #ededed;
}
@media (max-width: 768px) {
  .footer {
    padding: 30px;
    align-content: center;
  }
}
@media (min-width: 1367px) {
  .footer {
    row-gap: 1.5vw;
  }
}
.footer__social__payment {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__social__payment {
    flex-direction: column;
  }
}
.footer__social__area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 0.9vw;
}
.footer__social__logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  column-gap: 10px;
}
@media (min-width: 1367px) {
  .footer__social__logos {
    column-gap: 0.75vw;
  }
}
.footer__social__logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #FFF;
}
.footer__payment__options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  row-gap: 0.9vw;
}
.footer__payment__logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.footer__paypal__logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  padding: 10px;
  background-color: #FFF;
}
.footer__brand__copy {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1.8vw;
  row-gap: 10px;
  padding: 10px;
}
@media (max-width: 768px) {
  .footer__brand__copy {
    flex-direction: column;
  }
}
.footer__brand__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}
.footer__brand__pic {
  width: 18.3vw;
  height: 1.9vw;
}
@media (max-width: 768px) {
  .footer__brand__pic {
    width: 36.6vw;
    height: 3.8vw;
  }
}
.footer__copy__text {
  width: auto;
  color: #2e2e2e;
  font-weight: normal;
}

.product__card {
  width: 230px;
  height: 500px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
  transition: 0.5s;
}
@media (min-width: 1367px) {
  .product__card {
    width: 16.8vw;
    height: 36.6vw;
    padding: 1.5vw 1vw;
    row-gap: 0.36vw;
  }
}
@media (max-width: 768px) {
  .product__card {
    width: 100%;
    height: 210px;
  }
}
.product__card:hover {
  box-shadow: 1px 1px 10px #666;
}
@media (min-width: 1367px) {
  .product__card:hover {
    box-shadow: 0.075vw 0.075vw 0.75vw #666;
  }
}
.product__card:hover .product__card__pic {
  box-shadow: none;
}
.product__card__info {
  height: 100%;
  row-gap: 30px;
  column-gap: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 769px) {
  .product__card__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (min-width: 1367px) {
  .product__card__info {
    row-gap: 2.2vw;
  }
}
.product__card__pic__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
@media (max-width: 768px) {
  .product__card__pic__wrapper {
    width: 110px;
    height: 110px;
  }
}
.product__card__pic {
  width: 100%;
  height: auto;
  object-fit: contain;
  align-content: center;
  transition: 0.5s;
  box-shadow: 3px 3px 3px 1px #666;
}
@media (min-width: 1367px) {
  .product__card__pic {
    box-shadow: 0.075vw 0.075vw 0.75vw #666;
  }
}
.product__card__title-price__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 25px;
}
@media (max-width: 768px) {
  .product__card__title-price__wrapper {
    height: 100%;
  }
}
@media (min-width: 1367px) {
  .product__card__title-price__wrapper {
    row-gap: 1.8vw;
  }
}
.product__card__title {
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  line-height: 15px;
  display: block;
}
@media (min-width: 769px) {
  .product__card__title {
    font-family: Proxima-Nova-Bold;
  }
}
@media (min-width: 1367px) {
  .product__card__title {
    font-size: 0.9vw;
    line-height: 15px1 0.1vw;
  }
}
.product__card__title:hover {
  color: #c80000;
}
.product__card__price {
  font-family: Proxima-Nova-Bold;
  font-size: 15px;
}
@media (min-width: 769px) {
  .product__card__price {
    font-family: Proxima-Nova-Black;
    font-size: 18px;
  }
}
@media (min-width: 1367px) {
  .product__card__price {
    font-size: 1.3vw;
  }
}

.item__cart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  align-items: flex-start;
  column-gap: 15px;
  border-bottom: #ddd solid 1px;
}
@media (min-width: 1367px) {
  .item__cart {
    border-bottom: #ddd solid 0.07vw;
    padding: 0.36vw;
    column-gap: 1.1vw;
  }
}
.item__cart:last-child {
  border: none;
}
.item__cart__pic {
  width: 64px;
}
@media (min-width: 1367px) {
  .item__cart__pic {
    width: 4.7vw;
  }
}
.item__cart__details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 13px;
  column-gap: 15px;
  row-gap: 10px;
}
@media (max-width: 768px) {
  .item__cart__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (min-width: 1367px) {
  .item__cart__details {
    column-gap: 1.1vw;
    font-size: 0.95vw;
    row-gap: 0.73vw;
  }
}
.item__cart__description {
  width: 100%;
}
.item__cart__description__title {
  font-family: Proxima-Nova-Bold;
  line-height: 24px;
}
@media (min-width: 1367px) {
  .item__cart__description__title {
    line-height: 1.75vw;
  }
}
.item__cart__description__text {
  line-height: 20px;
}
@media (min-width: 1367px) {
  .item__cart__description__text {
    line-height: 1.46vw;
  }
}
.item__cart__quantity {
  border: solid #ddd 1px;
  outline: none;
  background-color: none;
  width: 80px;
  height: 45px;
  padding: 10px;
  background-color: white;
}
@media (min-width: 1367px) {
  .item__cart__quantity {
    border: solid #ddd 0.07vw;
    width: 5.85vw;
    height: 3.29vw;
    padding: 0.73vw;
    font-size: 0.95vw;
  }
}
.item__cart__price-delete {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 170px;
  column-gap: 15px;
}
@media (max-width: 768px) {
  .item__cart__price-delete {
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 1367px) {
  .item__cart__price-delete {
    width: 12.4vw;
    column-gap: 1.1vw;
  }
}
.item__cart__price {
  font-family: Proxima-Nova-Black;
}
.item__cart__delete {
  width: 18px;
  color: #666;
}
@media (min-width: 1367px) {
  .item__cart__delete {
    width: 1.3vw;
  }
}

/*# sourceMappingURL=index.css.map */
