*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: Proxima-Nova;
  src: url(/fonts/ProximaNova-Regular.otf);
}
html {
  font-size: 1.17vw;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: Proxima-Nova;
}

address {
  font-style: normal;
}

.link {
  color: #FFF;
}
.link:visited {
  color: #FFF;
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 450px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 769px) {
  .container {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #FFF;
  text-transform: uppercase;
}
@media (min-width: 769px) {
  .header {
    padding-top: 0.38vw;
    padding-bottom: 0.38vw;
  }
}

@media (max-width: 768px) {
  .header__menu {
    width: 100%;
  }
}

.header__menu__list {
  display: flex;
  column-gap: 3.8vw;
  font-weight: bold;
}

.header__menu__item {
  line-height: 0;
  text-decoration: none;
}
@media (max-width: 768px) {
  .header__menu__item {
    padding: 20px 0;
    border-top: #2e2e2e solid 1px;
  }
}

.menu__login__link {
  text-transform: none;
}
@media (min-width: 769px) {
  .menu__login__link {
    display: none;
  }
}

.mobile__menu__btn {
  font-size: 18px;
  display: block;
  width: 100%;
  cursor: pointer;
}
@media (min-width: 769px) {
  .mobile__menu__btn {
    display: none;
  }
}

.logo {
  width: 150px;
  height: 30px;
}
@media (min-width: 769px) {
  .logo {
    width: 13vw;
    height: 2.9vw;
  }
}

.user__panel {
  display: flex;
  column-gap: 1.9vw;
}

.user__icon, .cart__icon {
  width: 25px;
  cursor: pointer;
}
@media (min-width: 769px) {
  .user__icon, .cart__icon {
    width: 1.88vw;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.8vw 100px;
  color: #666;
  font-weight: 900;
  background-color: #ededed;
}
@media (max-width: 768px) {
  .footer {
    padding: 30px;
  }
}
.footer__social__payment {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__social__payment {
    flex-direction: column;
  }
}
.footer__social__area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 0.9vw;
}
.footer__social__logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  column-gap: 10px;
}
.footer__social__logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #FFF;
}
.footer__payment__options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  row-gap: 0.9vw;
}
.footer__payment__logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.footer__paypal__logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  padding: 10px;
  background-color: #FFF;
}
.footer__brand__copy {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1.8vw;
  row-gap: 10px;
  padding: 10px;
}
@media (max-width: 768px) {
  .footer__brand__copy {
    flex-direction: column;
  }
}
.footer__brand__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}
.footer__brand__pic {
  width: 18.3vw;
  height: 1.9vw;
}
@media (max-width: 768px) {
  .footer__brand__pic {
    width: 36.6vw;
    height: 3.8vw;
  }
}
.footer__copy__text {
  width: auto;
  color: #2e2e2e;
  font-weight: normal;
}

/*# sourceMappingURL=index.css.map */
