@use '../../basic_styles/mixins' 
@use '../../basic_styles/variables' 
@use '../orderButton/order_button' 

.item__history
  width: 100%
  font-size: 1vw
  border: variables.$divisory-color 0.07vw solid
  @include mixins.tablet
    font-size: 13px
    border: variables.$divisory-color 1px solid

  &__header
    @include mixins.flex
    border-bottom: variables.$divisory-color 0.07vw solid
    @include mixins.tablet
      border-bottom: variables.$divisory-color 1px solid
      @include mixins.flex(column, $align:space-between)

    &__cell      
      padding: 1vw
      @include mixins.flex(column, $align:flex-start)
      row-gap: 0.5vw
      border-left: variables.$divisory-color 0.07vw solid
      @include mixins.tablet
        @include mixins.flex($justify:space-between)
        padding: 15px
        border-top: variables.$divisory-color 1px solid
        border-left: none
        

      &:first-child
        border: none
      
      &:nth-child(2)
        @include mixins.tablet 
        border: none
        
    
    &__label
      font-family: variables.$font-bold
      color: variables.$volume-color


  &__show-hide-btn
    width: 1.5vw 
    margin: auto
    text-align: center
    cursor: pointer   
    @include mixins.tablet 
      display: none
      
        
  
  
.show-hide
  @include mixins.tablet 
    display: none

